$border = #dddddd
$grey = #636363


.icon-holder
  margin-top 3u
  height: 16u
  width: 16u
  border: 0.125u solid $border 
  border-radius 15u
  +tablet()
    width 24u
    height 24u
  +wide()
    width 32u
    height 32u
    border-radius 16u

.inner-holder
  height 15u
  width 15u
  border 0.125u solid $border 
  border-radius 15u
  margin 3px
  +tablet()
    width 22u
    height 22u
    margin 7px
  +wide()
    width 28u
    height 28u
    margin 15px 

.icon-image
  position relative
  overflow hidden
  height 14u
  width 14u
  margin 2px
  +tablet()
    width 21u
    height 21u
  +wide()
    width 27u
    height 27u

.sub-title
  padding-top 3u
  font-weight 200
  color $grey
  font-size 2u
  +wide()
    font-size 3u
    padding-top 5u
.icon-wrapper
  display flex
  align-items center
  padding 0 2u
  +tablet()
    max-width 50%
  +desktop()
    max-width 33%
    margin-top 2u

