.button
    height: 5u
    justify-content center 
    align-items center
    border 0.125u solid #dddddd
    border-radius 1u
    padding 0 4u
    +tablet()
        max-width 20u
        padding 0 6u
    +wide()
        max-width 30u
        height 8u
        padding 0 8u
    &__text
        color #636363
        font-weight 200
        font-size 1.8u
        +wide()
            font-size 2.5u

.blue
    background-color #8cc9f0
    border none
    &__text
        color white
        font-weight 300
.dark
    color white
    font-weight 200