.text-holder
    padding-top 3u
    +wide()
        padding-top 6u
.plaintext
    text-align center
    font-size 1.7u
    line-height 3u
    color: #636363
    font-weight 200
    +wide()
        font-size 2.5u
        line-height 5u

.bigtext
    text-align center
    font-weight 100 
    +wide()
        font-size 2.8u
        line-height 5.6u


.left
    text-align center
    +desktop()
        text-align left 

