.root
    margin-top 3u
    +wide()
        margin-top 6u

.plaintext
    text-align center
    font-size 13px
    line-height 3u
    color #636363
    font-weight 200
    +wide()
        font-size 20px
        line-height 5u

.plaintext
    &.big
        +tablet()
            font-size 16px
        +wide()
            font-size 3u
            line-height 5u
    &.left
        +desktop()
            text-align left 
    &.justify
        +tablet()
            text-align justify 
