
.btns-holder
  margin-top 2u
  display flex
  width 100%
  +tablet()
    flex-direction row
    justify-content center
  +wide()
    margin-top 6u

.btn-wrapper
  margin-top 2u
  +tablet()
    margin-top 0
    margin-left 3u
.first
  margin 0