.btnsHolder
  margin-top 2u
  width 100%
  +tablet()
    flex-direction row
    justify-content center
  +wide()
    margin-top 6u

.btnWrapper
  margin-top 2u
  +tablet()
    margin-top 0
    margin-left 3u

.btnWrapper
  &.first
    margin 0