$grey = #f7f7f7

.card-header
  display none
  flex-direction row
  background-color $grey
  height 9u
  justify-content center
  align-items center
  +tablet()
    display flex 
    border-radius 0.5u 0.5u 0 0

.header-item
  margin 0 1u
  color $dark
  height 4u
  line-height 4u
  padding 0 2u
  font-weight 100
  font-size 1.8u
  font-family Ubuntu
  +wide()
    font-size 2.4u