.image-holder
  box-sizing content-box
  height 25u
  width 25u
  border 0.125u solid #dddddd 
  border-radius 25u
  +tablet()
    height 35u
    width 35u
  +wide()
    height 44u
    width 44u
.image
  height 24u
  width 24u
  border-radius 25u
  margin 3.5px
  +tablet()
    height 33u
    width 33u
    margin 7.5px
  +wide()
    height 42u
    width 42u

.wrap-cont
  display flex
  flex-direction column
  +desktop()
    flex-direction row-reverse
    

.wrap-child
  display flex
  flex-direction column
  align-items center

.right 
  display flex
  +desktop()
    flex 2


.left 
  display flex
  +desktop()
    flex 3
    align-items left
    margin-right 5u
