.contentWrapper
  margin-top 2u
  flex-direction column
  +tablet()
    flex-direction row
    flex-wrap wrap
    justify-content center
  +desktop()
    margin-top 5u

.btnWrapper
  margin-top 2u
  +wide()
    margin-top 6u