.content-wrapper
  margin-top 2u
  display flex
  flex-direction column
  +tablet()
    flex-direction row
    flex-wrap wrap
    justify-content center
  +desktop()
    margin-top 5u

.btn-wrapper
  margin-top 2u
  +wide()
    margin-top 6u