.header
  align-items center 
  text-align center
  padding-top 8u
  +tablet()
    padding-top 16u
  +desktop
    padding-top 24u
  +wide()
    padding-top 32u
.logo
  background-color white
  display flex
  height: 11u
  width: 11u
  border-radius 11u

.textholder
  width: 36u
  margin: 3u 0 0 0
  +tablet()
    width 45u
  +wide()
    width 70u

.title 
  font-style normal
  margin-top: 3u
  font-size 5u
  color: white
  letter-spacing: -0.125u
  font-weight 200
  +wide()
    font-size 8u
    margin-top 5u

.simple
  text-align center
  color: rgba(255, 255, 255, 0.65)
  font-size 1.7u
  line-height 3u
  font-weight 300
  +tablet()
    font-size 2u
  +wide()
    font-size 3u


.href
  color: rgba(255, 255, 255, 0.65)
  text-decoration underline 
  text-decoration-color rgba(255, 255, 255, 0.65)
  line-height 3u
  font-size 1.7u
  font-weight 300
  +tablet()
    font-size 2u
  +wide()
    font-size 3u
  
