.header
  align-items center
  text-align center


.logo
  background-color white
  display flex
  height: 11u
  width: 11u
  margin-top: 8u
  border-radius 11u

.textholder
  width: 36u
  margin: 3u 0 0 0
  @media screen and (min-width 96u)
    width 45u
  @media screen and (min-width 160u)
    width 70u

.title 
  font-style normal
  margin-top: 3u
  font-size 5u
  color: white
  letter-spacing: -0.125u
  font-weight 200
  @media screen and (min-width 160u)
    font-size 8u
    margin-top 5u

.simple
  text-align center
  color: rgba(255, 255, 255, 0.65)
  font-size 1.7u
  line-height 3.5u
  font-weight 300
  @media screen and (min-width 96u)
    font-size 2u
  @media screen and (min-width 160u)
    font-size 3u


.href
  color: rgba(255, 255, 255, 0.65)
  text-decoration underline 
  text-decoration-color rgba(255, 255, 255, 0.65)
  line-height 3.5u
  font-size 1.7u
  font-weight 300
  @media screen and (min-width 96u)
    font-size 2u
  @media screen and (min-width 160u)
    font-size 3u
  
