_dark = rgb(99, 99, 99)


.contentTitle
  align-items center
.contentTitleText
  font-size 2.5u
  font-weight 200
  color _dark
  letter-spacing -1px
  line-height 4u
  +tablet()
    font-size 3.5u
    margin-top 3u
  +wide()
    font-size 5u


.leftTitle
  +desktop()
    align-items left