.root
  align-items center
  padding 5u 3u
  border-bottom-width 1px
  border-bottom-color #dddddd
  +tablet()
    padding 5u 6u
  +wide()
    padding 10u 12u

.root
  &.last
    border-bottom-width 0