_white_t = rgba(255, 255, 255, 0.65)
_white_transp = rgba(255, 255, 255, 0.35)

.root
    padding 4u 5u 8u 5u
    +tablet()
        padding 4u 8u
    +desktop()
        flex-direction row
        flex-wrap wrap
        justify-content center
        padding 8u 8u
    +wide()
        padding 15u 15vw

.subtitle
    font-size 2.5u
    font-weight 300
    color white
    +wide()
        font-size 3u
.text
    color _white_t
    line-height 3u
    font-size 13px
    font-weight 300
    margin-top 2u
    +wide()
        font-size 2.2u
        line-height 4u
        padding-right 10u
        margin-top 4u

.contactsWrapper
    margin-top 2u
    +wide()
        margin-top 4u
.contactsWrapperLine
    flex-direction row
    margin-top 2u
    &.first
        margin 0
    +wide()
        margin-top 4u
.contactsWrapperElement
    flex 1
    font-weight 400
    color white
    font-size 13px
    +wide()
        font-size 2.2u

.detailed
    flex 3
    font-weight 300
    color _white_t

.socialWrapper
    flex-direction row
    margin-top 3u
.socialWrapperElement
    margin-left 2u
    width 4u
    height 4u
    border 1px solid _white_transp
    radius(circle)
    justify-content center 
    align-items center
    +wide()
        width 8u
        height 8u
        border 2px solid _white_transp
    +wide()
        margin-top 8u
    &.first
        margin-left 0
.snicon
    width 2u
    height 2u
    +wide()
        width 5u
        height 5u

.cprt
    margin-top 4u
    color _white_t
    font-size 1.2u
    +desktop()
        margin-top 12u
    +wide()
        font-size 2u

.wrappChld
    +desktop()
        flex 1
        min-width 50%



.btnWrapper
    margin-top 3u

.secondLine
    margin-top 3u
    +desktop()
        margin-top 0

.link
    border-bottom 1px solid _white_transp